[submodule "src/graspnet_baseline"]
	path = src/graspnet_baseline
	url = https://github.com/graspnet/graspnet-baseline.git
[submodule "src/pointnet_gpd"]
	path = src/pointnet_gpd
	url = https://github.com/lianghongzhuo/PointNetGPD.git
[submodule "src/gpd"]
	path = src/gpd
	url = https://github.com/Janx1913/gpd
[submodule "src/gpd_ros"]
	path = src/gpd_ros
	url = https://github.com/Janx1913/gpd_ros.git
[submodule "src/ros_deep_grasp"]
	path = src/ros_deep_grasp
	url = https://github.com/Janx1913/ros_deep_grasp
[submodule "src/graspnetAPI"]
	path = src/graspnetAPI
	url = https://github.com/graspnet/graspnetAPI.git
[submodule "src/pointnet2_pytorch"]
	path = src/pointnet2_pytorch
	url = https://github.com/erikwijmans/Pointnet2_PyTorch.git
[submodule "src/pytorch_6dof-graspnet"]
	path = src/pytorch_6dof-graspnet
	url = https://github.com/jsll/pytorch_6dof-graspnet
[submodule "src/grasp_multiObject_multiGrasp"]
	path = src/grasp_multiObject_multiGrasp
	url = https://github.com/ivalab/grasp_multiObject_multiGrasp.git
[submodule "src/vgn"]
	path = src/vgn
	url = https://github.com/runeg96/vgn.git
[submodule "src/ggcnn"]
	path = src/ggcnn
	url = https://github.com/dougsm/ggcnn.git