[submodule "src/gr_grasping"]
	path = src/gr_grasping
	url = https://github.com/skumra/robotic-grasping.git
[submodule "src/mvp_grasping"]
	path = src/mvp_grasping
	url = https://github.com/dougsm/mvp_grasp.git
[submodule "src/graspnet_baseline"]
	path = src/graspnet_baseline
	url = https://github.com/graspnet/graspnet-baseline.git
[submodule "src/pointnet_gpd"]
	path = src/pointnet_gpd
	url = https://github.com/lianghongzhuo/PointNetGPD.git
[submodule "src/gpd"]
	path = src/gpd
	url = https://github.com/Janx1913/gpd