<?xml version="1.0" ?>

<launch>
  <node name="graspnet_baseline_ros" pkg="grasp_lib" type="graspnet_baseline_ros.py" 
  args="--checkpoint_path logs/log_kn/checkpoint.tar
  --mask_path /home/jan/Documents/lh7_handover_ws/src/lh7-handover/grasping_ros/src/graspnet_baseline/doc/example_data/workspace_mask.png" output="screen"/>
</launch>
